body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 0px;
    background: rgb(255, 243, 218);
    font-family: sans-serif;
    font-weight: lighter;
}

#timer {
    font-size: 70px;
    font-weight: 100;
    color: white;
    padding: 20px;
    width: 700px;
    color: white;
}

#timer div {
    display: inline-block;
    min-width: 90px;
    padding: 15px;
    background: #f29a5c;
    border-radius: 10px;
    border: 2px solid #291d15;
    margin: 15px;
}

#timer div span {
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-size: .35em;
    font-weight: 400;
}